<template lang="">
  <Auth>
    <div>
     <h1>Product view</h1>
    </div>
  </Auth>
</template>
<script>
import Auth from '../components/Auth'
import { getProducts } from '../services/product'
export default {
  async mounted () {
    const product = await getProducts()
    console.log(product)
  },
  component: {
    Auth
  }
}

</script>
<style lang=""></style>
